@charset "UTF-8";


body {
  display: flex;
  justify-content: center;
  background-image: url("https://picsum.photos/1000?grayscale");
}

#table {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  width:800px;
  margin-left: 20px;
  margin-right: 20px;
}

#grid1, #grid2, #grid3, #grid4, #grid5, #grid6, #grid7, #grid8, #grid9 {
  text-align: center;
  display: grid;
  width: 100px;
  height:100px;
  grid-template-columns: 1fr 1fr 1fr;
}


#areaA {
  background-color: lime;
}

#areaB {
  background-color: yellow;
}

arrow {
  ?????
}
