
body {
  display: flex;
  justify-content: center;
  background-image: url("https://picsum.photos/1000?grayscale");
}



.tableSection {
  margin-top:30px;
  font-size: 40px;
  width: 600px;
  height: 600px;
  border: solid;
  border-color: black;
  border-width: 10px;
  background-color: rgba(216, 199, 199, 0.5)
  
}

tr {

  width: 200px;
  height: 200px;
}

td {
    border: solid;
  border-color: black;
  border-width: 10px;
  text-align: center;

}

.arrow {
  font-size: 100px;
  display: flex;
  align-items: center; 
  margin-left:30px;
  margin-right:30px;

}
